* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit";
  background-color: linear-gradient(#db948b, #db9bab);
}
.contact-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.contact-left {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.contact-left-title {
  font-weight: 600;
  font-size: 40px;
  color: #a363aa;
  margin-bottom: 5px;
}
